@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/avenir");
@import "react-toastify/dist/ReactToastify.css";

html,
body,
:root {
  
  height: 100vh;
  font-family: "Avenir", sans-serif;  
  background-color: #fff;
 
}



  * {
    scrollbar-width: none;
    scrollbar-color: #0089c9 #ffffff;
  }

  
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {    
    background-color: #0089c9;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f6f6f6 inset !important;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

button{
    color: #fff;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.columnTitle {
  background-color: #007cc4;
  color: #fff;
  font-size: 18px;
  font-weight: 600; 
}

.columnTitleScheduleManagement {
  background-color: #9AA2AC;
  color: #fff;
  font-size: 18px;
  font-weight: 600; 
}

.columnTitle-borderLeft {
  
  border-top-left-radius: 5px;
  background-color: #007cc4;
  color: #fff;
  font-size: 18px;
  font-weight: 600; 
}
.columnTitle-borderRight {
  
  border-top-right-radius: 5px;  
  background-color: #007cc4;
  color: #fff;
  font-size: 18px;
  font-weight: 600; 
}

.MuiPagination-ul li button{
  color: #051F4A;
}

